body {
    text-align: center;
    background-color: rgb(200, 200, 200);
}

.first-div {
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.welcome {
    grid-column: span 3;
}

.head-pic {
    display: grid;
    grid-area: 2 / 3 / 2 / 3;
}

.cat-pic {
    width: 200px;
}

.heading2 {
    display: grid;
    grid-area: 3 / 2 / 3 / 2;
}

.front-end {
    font-style: italic;
    font-size: 2rem;
}

.about {
    background-color: rgb(173, 173, 173);
}

.cv-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about {
    padding-top: 50px;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.info-text {
    font-size: 2rem;
    padding-top: 20px;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

.contact-div > p {
    font-size: large;
    font-style: oblique;
}

.contact {
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    border: solid black 10px;
    color: yellow;
    background-color: rgb(255, 0, 0);
}

.btn:hover {
    opacity: 0.7;
    transition-duration: 1s;
    background-color: yellow;
    color: red;
    cursor: pointer;
    font-weight: bold;
}
